<div class="container">
    <div class="col-md-12">
        <div class="card text-center">
              <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="http://127.0.0.1:8000/">BLOG</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="http://localhost:4200/post">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://codegymvn.slack.com/messages/DDZMMHF1V/">Content</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link">
                        Menu
                      </a>
                    </li>
                  </ul>
                  <div class="d-flex flex-row-reverse bd-highlight">
                        <button type="button" class="btn btn-outline-primary" [routerLink]="['/login']" >Register</button>
                </div>
                </div>
              </nav>
            </div>
           
            <div class="card-body">
              
                <div>
                    <div class="d-flex justify-content-around">
                        <div class="card" style="width: 18rem;" *ngFor="let post of postList; index as i">
                                <a [routerLink]="['/post', post.id]">
                            <img src="http://127.0.0.1:8000/storage/{{post.image}}" class="card-img-top" alt="...">

                            <div class="card-body">
                                    <h5 class="card-title">{{post.title}}</h5>
                            </div>
                                </a>
                            <div class="card-body">
                                <p class="card-text">{{post.desc}}</p>
                            </div>
                        </div>
                    </div>

              
                      </div>
            </div>
                <div class="col-md-12" style="background: #1d68a7">
                    <div class="d-flex justify-content-around">
                        <div class="col-md-4">
                            <div>
                                <div class="card-body">
                                    <h5>Giới Thiệu</h5>
                                    <a class="card-text">Về Blog</a>
                            <br>
                            <a class="card-text">Sản Phẩm về BLOG</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <div class="card-body">
                            <h5>Cộng Đồng</h5>
                            <a class="card-text">Fanpage</a>
                            <br>
                            <a class="card-text">Nhóm Tác Giả</a>
                            <br>
                            <a class="card-text">Blogger</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <div class="card-body">
                            <h5>Tài Nguyên</h5>
                            <a class="card-text">Blog</a>
                            <br>
                            <a class="card-text">Tạp chí BLOG</a>
                            <br>
                            <a class="card-text">Tạp chí PlayBoy</a>
                            <br>
                            <a class="card-text">BLog Codegym</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
            
        </div>
