<div class="container">
  <div class="col-12">
    <h2>User Registration</h2>
    <form class="was-validated" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control " id="inputEmail4" placeholder="Email" name='Email' #Email='ngModel' [(ngModel)]="user.Email" [pattern]="emailPattern">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name='Password' #Password="ngModel" [(ngModel)]="user.Password" required  minlength="3">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Name</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Main St" name='Name' #Name='ngModel' [(ngModel)]='user.Name'>
      </div>
      <div class="form-group">
        <label for="inputAddress2">Phone</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="phone" name='Phone' #Phone='ngModel' [(ngModel)]='user.Phone'>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
          <label class="custom-control-label" for="customControlValidation1">Check this custom checkbox</label>
          <div class="invalid-feedback">Example invalid feedback text</div>
        </div>
      </div>
      <button [disabled]="!userRegistrationForm.valid" type="submit" class="btn btn-primary">Register</button>
      <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </form>
  </div>
</div>